
@{
    ViewBag.Title = "Refresh";
}

<h2>Refresh</h2>
<input type="text" id="companyId" />
<input type="text" id="employeeName" />
<button id="Refresh" type="button">Refresh</button >
    <table id="employees" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Employee</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

@section scripts{
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var oEmployeesTable = $('#employees').dataTable({
            "bJQueryUI": true,
            "bServerSide": true,
            "sAjaxSource": "MasterDetailsAjaxHandler",
            "bPaginage": true,
            "sPaginationType": "full_numbers",
            "iDisplayLength": 5,

            //fnServerParams is a new 1.8.2 interface. if you have 1.8.1 or earlier, there is no fnServerParams
            //"fnServerData": function (sSource, aoData, fnCallback) {
            //    aoData.push({ "name": "CompanyID", "value": $('#hello').val()});
            //    $.getJSON(sSource, aoData, function (json) {
            //        fnCallback(json);
            //        alert(json);
            //    });
            //}

            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "CompanyID", "value": $('#companyId').val() },
                    { "name": "Name", "value": $('#employeeName').val() }
                    );
            }
        });

        $("#Refresh").click(function (e) {
            oEmployeesTable.fnDraw();
        });
    });
</script>
}