@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="multipleSearch">
    <table class="formTable">
        <thead>
            <tr>
                <th>查询条件</th>
                <th>查询方式</th>
                <th>查询值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label id="Name" class="searchField">employName</label>
                </td>
                <td>
                    <select class="searchOper form-control">
                        <option value="eq">等于</option>
                        <option value="cn">包含</option>
                        <option value="gt">大于</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="searchString form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <label id="Position" class="searchField">Position</label>
                </td>
                <td>
                    <select class="searchOper">
                        <option value="eq">等于</option>
                        <option value="cn">包含</option>
                        <option value="lt">小于</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="searchString" />
                </td>
            </tr>
        </tbody>
    </table>

    <button id="search" class="btn btn-info">search</button>
    <button onclick="clearSearch()" class="btn btn-danger">清空搜索条件</button>
</div>

<table id="todaySO" class="table table-bordered">
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>Employee</th>
            <th>Position</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section    scripts{

    <link href="~/Content/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        //多条件筛选字符串
        function multipleSearch() {
            var rules = "";

            $("#multipleSearch tbody tr").each(function (i) {    //从multipleSearch中找到各个查询条件行
                //var searchField = $(".searchField", this).val(); //获得查询字段 select
                var searchField = $(".searchField", this).attr('id'); //获得查询字段 select
                var searchOper = $(".searchOper", this).val();   //获得查询方式
                var searchString = $(".searchString", this).val();  //获得查询值

                if (searchField && searchOper && searchString) { //如果三者皆有值且长度大于0，则将查询条件加入rules字符串
                    rules += ',{"field":"' + searchField + '","op":"' + searchOper + '","data":"' + searchString + '"}';
                }
            });

            if (rules) { //如果rules不为空，且长度大于0，则去掉开头的逗号
                rules = rules.substring(1);
            }

            //串联好filtersStr字符串
            var filtersStr = '{"groupOp":"AND","rules":[' + rules + ']}';

            //var postData = $("#grid").jqGrid("getGridParam", "postData");

            ////将filters参数串加入postData选项
            //$.extend(postData, { filters: filtersStr });

            //$("#grid").jqGrid("setGridParam", {
            //    search: true    //将jqGrid的search选项设为true
            //}).trigger("reloadGrid", [{ page: 1 }]);

            return filtersStr;
        }
        //重置搜索条件
        var clearSearch = function () {
            var filtersStr = '';
            //var postData = $("#grid").jqGrid("getGridParam", "postData");
            //$.extend(postData, { filters: filtersStr });
            //$("#grid").jqGrid("setGridParam", {
            //    search: false   //将jqGrid的search选项设为false
            //}).trigger("reloadGrid", [{ page: 1 }]);

            $(".searchString").val("");
        };
        $(function () {
            var oEmployeesTable = $('#todaySO').dataTable({
                "bServerSide": true,
                "sAjaxSource": "/DataTable/GetAjax",
                "bPaginage": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 5,
                "bFilter": false,// 取消全局筛选框
                //"oLanguage": { "sUrl": "/Scripts/DataTable/dataTable_cn.txt" }//多语言配置
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录。",
                    "sInfoEmpty": "找不到相关数据",
                    "sInfoFiltered": "（数据表中共为 _MAX_ 条记录）",
                    "sProcessing": "正在加载中...",
                    "sSearch": "搜索",
                    "sUrl": "", //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                    "oPaginate": {
                        "sFirst": "第一页",
                        "sPrevious": " 上一页 ",
                        "sNext": " 下一页 ",
                        "sLast": " 最后一页 "
                    }
                } //多语言配置
                , "aoColumns": [
                    //{ "mData": "EmployeeID" },
                    { "mData": "Name" },
                    { "mData": "Position" }
                    //{ "mData": "OrderQty", "sType": "numeric" }
                ]
                , "fnServerParams": function (aoData) {
                    aoData.push(//传给服务端字符串
                        { "name": "filters", "value": multipleSearch() }
                        //{ "name": "SortColumn", "value": "EmployeeID" },
                        //{ "name": "SortOrder", "value": "asc" }
                        //{ "name": "SortColumn", "value": "sSortCol_0" },
                        //{ "name": "SortOrder", "value": "sSortDir_0" }
                    );
                }

            });//end table

            $("#search").click(function (e) {
                oEmployeesTable.fnDraw();
            });

        });//end ready()
    </script>
}